extends base

block content
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(placeholder="Old password", type="password", name="oldPassword")
    input(placeholder="New password", type="password", name="newPassword")
    input(placeholder="Verified new password", type="password", name="verifiedPassword")
    input(value="Change Password", type="submit")